/*--------------------*/  
/*--------------------*/
/* General containers */
/*--------------------*/
/*--------------------*/

/* rows - fluidRow() */
.row {
  margin: 0;
}

/* dividers - column() */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 1px;
  padding: 0;
}

/* hyperlinks */
a {
  color: #3c8dbc;
  text-decoration: none;
}

a:visited {
  color: #3c8dbc;
  text-decoration: none;
}

a:hover {
  color: #3c8dbc;
  text-decoration: underline;
}


/*----------------------------*/  
/*----------------------------*/
/* Shiny Dashboard containers */
/*----------------------------*/
/*----------------------------*/

/*--------------------------------------------*/
/* Shiny Dashboard Header - dashboardHeader() */
/*--------------------------------------------*/
  
/* top bar general */
header.main-header {
  max-height: 60px;
  position: relative;
  width: 100%;
}

/* navigation bar */
.skin-blue .main-header .navbar {
  background-color: #1A1B1D;
}

/* logo (title container) - hidden for this app */
.skin-blue .main-header .logo {
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: #1A1B1D;
}

/* logo (title container) when hovered - hidden for this app */
.skin-blue .main-header .logo:hover {
  background-color: #1A1B1D;
}

/* sidebar menu toggle button */
.skin-blue .main-header .navbar .sidebar-toggle {
  height: 60px; 
  padding-top: 20px !important;
  padding-bottom: 20px;
}

/* sidebar menue toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #323337;
}

/*----------------------------------------------*/
/* Shiny Dashboard Sidebar - dashboardSidebar() */
/*----------------------------------------------*/
  
/* sidebar container */
.skin-blue .main-sidebar {
  padding-top: 60px; /* spacing to allow for top nav bar */
  background-color: #323337; /* background color for sidebar */
  padding-bottom: 60px;
}

/* sidebar container (tablet) */
@media (max-width: 767px){
.skin-blue .main-sidebar {
  padding-top: 120px; /* spacing to allow for top nav bar */
  /*background-color: #323337; /* background color for sidebar */
  /*padding-bottom: 60px; */
}
}
/* sidebar container for phone */
  @media (max-width: 344px){
    .skin-blue .main-sidebar {
      padding-top: 180px; /* spacing to allow for top nav bar */
        background-color: #323337; /* background color for sidebar */
        padding-bottom: 60px;
    }
  }

/* menu item text */
  .skin-blue .sidebar-menu>li>a {
    color: #ffffff;
      text-decoration: none!important;
  }

.skin-blue .sidebar-menu>li>a:link {
  text-decoration: none!important;
}

/* active selected tab in the sidebar */
  .skin-blue .sidebar-menu>li.active>a {
    background-color: #28292C;
      border-left-color: #3c8dbc;
  }

/* hover over a tab in the sidebar */
  .skin-blue .sidebar-menu>li:hover>a {
    background-color: #28292C;
      border-left-color: #3c8dbc;
  }

/* Submenu container */
  .skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0;
    padding: 0;
    background: #414246;
      border-left: 3px solid transparent;
  }

/* Submenu container - expanded */
  .skin-blue .sidebar-menu>li>.menu-expanded {
    border-left-color: #3c8dbc;
  }

/* Submenu container - Parent menu item selected */
  .skin-blue .sidebar-menu>li.active>.treeview-menu {
    border-left-color: #3c8dbc;
  }

/* Subitems within submenu */
  .sidebar-menu .treeview-menu>li {
    margin-left: -3px;
    border-left: 3px solid transparent;
  }

/* Subitem links within submenu */
  .skin-blue .treeview-menu>li>a {
    color: #ffffff;
      text-decoration: none;
  }

/* Active subitem link within submenu */
  .sidebar-menu .treeview-menu>li.active {
    background: #28292C;
      border-left-color: #3c8dbc;
  }

/* Subitem links within submenu - Hover over item */
  .sidebar-menu .treeview-menu>li:hover {
    background: #28292C;
      border-left-color: #3c8dbc;
  }

/*----------------------------------------------*/
/* Shiny Dashboard Body - dashboardSidebar() */
/*----------------------------------------------*/
  
/* Content wrapper - includes both sidebar and content */
.skin-blue .wrapper {
  background-color: #ffffff;
}

/* Content wrapper - includes only content */
.skin-blue div.content-wrapper{
  background: #262626;
  height: auto;
}

/* Content (section) */
.skin-blue section.content{
  min-height: 100%;
  overflow: auto;
  margin: 0 -15px;
  padding: 0;
}

/* Tab content (div) */
.skin-blue div.tab-content{
  margin: 0;
  padding: 0;
}

/*-------------------*/  
/*-------------------*/
/* Custom containers */
/*-------------------*/
/*-------------------*/

/*--------------*/
/* Introduction */
/*--------------*/

.landing-wrapper{
  position: absolute;
  height: 95vh;
}

.landing-wrapper .picture-wrapper{
  display: block;
  height: 95vh;
  width: auto;
  overflow: hidden;
}

.landing-wrapper .picture-wrapper img{
  object-fit: cover;
  min-width: 100vw;
  min-height: 95vh;
  max-width: 200%;
  max-height: 200%;
}

.landing-wrapper .picture-overlay-black{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 5px solid #3c8dbc;
}

.landing-wrapper .picture-overlay-black .picture-overlay-main-text{
   color: white;
   text-align: center;
   padding: 5% 10% 5%;
   width: 100%;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-l{
  color: white;
  text-align: center;
  margin: 50px 25px 50px 50px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-c{
  color: white;
  text-align: center;
  margin: 50px 25px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-r{
  color: white;
  text-align: center;
  margin: 50px 50px 50px 25px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row button{
  color: black;
  background-color: rgba(255,255,255,0.7); 
  border: 3px #3c8dbc solid; 
  padding: 25px 50px; 
  white-space: normal;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row button:hover{
  color: white;
  background-color: #3c8dbc; 
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row{
  display: block;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper{
  color: white;
  text-align: center;
  padding: 40px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper a{
  color: white;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper a:hover{
  color: #3c8dbc;
}

.overlay-text-center h1{
  font-size:60px;
}
.overlay-text-center h2{
  font-size:30px;
}
.overlay-text-center h4{
  font-size: 18px;
}

@media (max-width: 767px){
  .overlay-text-center h1{
    font-size:46px;
  }
  .overlay-text-center h2{
    font-size:24px;
  }
  .overlay-text-center h4{
    font-size:14px;
  }
}

/* Introduction */
.button-container {
  position: absolute;
}
  
.text-block {
  position: absolute;
  color: white;
  text-align: center;
  top: 80%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

div#country_profile_bar_chart {
min-height: 60vh;
height: auto;
}

div#model_results_plot {
min-height: 60vh;
height: auto;
}

/*--------------------------*/
  /* Footer */
  /*--------------------------*/
  /* Container holding the image and the text */
  footer {
    max-height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
  }

#sfg-footer {
margin: 0;
padding: 0 40px 20px;
}

/* Footer SFG Logo */
  .footer-container {
    position: relative;
    text-align: center;
    left: 50%;
    top: 0;
    transform: translate(-50%, -20%);
  }

/* Footer SFG Logo */
  .footer-text {
    font-size: 80%;
    color: #1A1B1D;
  }

/*--------------------------*/
  /* Header with line */
  /*--------------------------*/
  
  .header-line:after {
    content:' ';
    display:block;
    border:1px solid black;
  }

.header-line-white:after {
  content:' ';
  display:block;
  border:1px solid white;
}

.header-line-light:after {
  content:' ';
  display:block;
  border:1px solid;
  border-color: #919191;
}


.header-line-color {
  color: #ffffff;
    padding: 0;
  margin: 5px 0;
}
.header-line-color:after {
  content:' ';
  display:block;
  border:1px solid #3c8dbc;
}

/*--------------------------*/
  /* Leaflet legends */
  /*--------------------------*/
  
.leaflet .legend {
    min-width:150px; 
    text-align: center;
  }

.leaflet-bottom .leaflet-right .leaflet-control {
  text-align: center;
}

.info .legend .leaflet-control{
  clear: both;
  text-align: center;
  
}

/*--------------------------*/
/* Buttons */
/*--------------------------*/
  
/* Left navigation button */
.nav-button-l {
  color: #fff; 
  background-color: #3c8dbc; 
  padding: 5px; 
  width: 100%;
  height: 30px;
  font-size: 12px;
  white-space: normal;
  text-align: left;
}

.nav-button-l i{
  margin: 0 10px;
}

.nav-button-l:hover {
  background-color: #31749b; 
}

/* Left navigation button (white) */
.nav-button-white-l {
  color: #000000; 
  background-color: #ffffff; 
  border: 2px solid #3c8dbc;
  padding: 5px; 
  width: 100%;
  height: 30px;
  font-size: 12px;
  white-space: normal;
  text-align: center;
}

.nav-button-white-l i{
  margin: 0 10px;
}

.nav-button-white-l:hover {
  color: #ffffff;
  background-color: #31749b; 
}
  
/* Right navigation button */
.nav-button-r {
  color: #fff; 
  background-color: #3c8dbc; 
  padding: 5px; 
  width: 100%;
  height: 30px;
  font-size: 12px;
  white-space: normal;
  text-align: right;
}

.nav-button-r i{
  margin: 0 10px;
}

.nav-button-r:hover {
  background-color: #31749b; 
}

/* Right navigation button (white) */
.nav-button-white-r {
  color: #000000; 
  background-color: #ffffff; 
  border: 2px solid #3c8dbc;
  padding: 5px; 
  width: 100%;
  height: 30px;
  font-size: 12px;
  white-space: normal;
  text-align: center;
}

.nav-button-white-r i{
  margin: 0 10px;
}

.nav-button-white-r:hover {
  color: #ffffff;
  background-color: #31749b; 
}

/* Info button */
.info-button {
  color: #fff; 
    background-color: #3c8dbc; 
    border-width: 0; 
  padding: 0; 
  width:18px; 
  height:18px; 
  font-size: 8px; 
  margin: 0 3px; 
  border-radius: 50%;
}