/*-------*/
/* Setup */
/*-------*/

:root {
    --main-color: #2b4860;
    --secondary-color: #243e54;
    --accent-color: #0d5ba2;
    --accent-color-2: #23A085;
    --grey-dark: #6f6f6f;
    --grey-text: #404040;
    --grey-light: #f7f8f9;
}

@font-face {
    font-family: Avenir-Book;
    src: url(Avenir-Book.ttf) format('truetype');
}

/*--------------------*/  
/*--------------------*/
/* General containers */
/*--------------------*/
/*--------------------*/

/* rows - fluidRow() */
.row {
  margin: 0;
}

/* dividers - column() */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 1px;
  padding: 0;
}

/*.container-fluid {
    padding-right: 0;
    padding-left: 0;
}*/

/* hyperlinks */
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

b.big {
  font-size: 12pt;
}

small.gray {
  color: var(--grey-dark);
}

.action-button i{
  margin: 0 10px 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir-Book', "Helvetica", sans-serif;
    font-weight: bold;
}

h2 {
  font-size: 18pt;
  margin-bottom: 20px;
}

h3 {
  font-size: 16pt;
  margin-bottom: 20px;
}

h4 {
  font-size: 14pt;
}

h5 {
  font-size: 12pt;
}

.box-title {
  font-size: 10pt;
  font-weight: bold;
}

p {
  font-family: 'Avenir-Book', "Helvetica", sans-serif;
  font-size: 10pt;
}

text {
   font-family: 'Avenir-Book', "Helvetica", sans-serif;
}

/* Font sizes (tablet) */
@media (max-width: 767px){
  
h2 {
  font-size: 16pt;
  margin-bottom: 20px;
}

h3 {
  font-size: 14pt;
  margin-bottom: 20px;
}

h4 {
  font-size: 12pt;
}

h5 {
  font-size: 10pt;
}

p {
  font-size: 8pt;
}

}

/*----------------------------*/  
/*----------------------------*/
/* Shiny Dashboard containers */
/*----------------------------*/
/*----------------------------*/

/*--------------------------------------------*/
/* Shiny Dashboard Header - dashboardHeader() */
/*--------------------------------------------*/
  
/* top bar general */
header.main-header {
  max-height: 60px;
  position: relative;
  width: 100%;
}

/* navigation bar */
.skin-blue .main-header .navbar {
  background-color: var(--main-color);
}

/* logo (title container) - hidden for this app */
.skin-blue .main-header .logo {
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
}

/* logo (title container) when hovered - hidden for this app */
.skin-blue .main-header .logo:hover {
  background-color: var(--main-color);
}

/* sidebar menu toggle button */
.skin-blue .main-header .navbar .sidebar-toggle {
  height: 60px; 
  padding-top: 20px !important;
  padding-bottom: 20px;
}

/* sidebar menue toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: var(--secondary-color);
}

/*----------------------------------------------*/
/* Shiny Dashboard Sidebar - dashboardSidebar() */
/*----------------------------------------------*/
  
/* sidebar container */
.skin-blue .main-sidebar {
  padding-top: 60px; /* spacing to allow for top nav bar */
  background-color: var(--secondary-color); /* background color for sidebar */
  padding-bottom: 60px;
}

/* sidebar container (tablet) */
@media (max-width: 767px){
.skin-blue .main-sidebar {
  padding-top: 120px; /* spacing to allow for top nav bar */
}
}
/* sidebar container for phone */
@media (max-width: 344px){
  .skin-blue .main-sidebar {
   padding-top: 180px; /* spacing to allow for top nav bar */
}
}

/* menu item text */
.skin-blue .sidebar-menu>li>a {
  color: #ffffff;
  text-decoration: none!important;
}

.skin-blue .sidebar-menu>li>a:link {
  text-decoration: none!important;
}

/* active selected tab in the sidebar */
.skin-blue .sidebar-menu>li.active>a {
  background-color: var(--accent-color);
  border-left-color: var(--accent-color);
}

/* hover over a tab in the sidebar */
.skin-blue .sidebar-menu>li:hover>a {
  background-color: var(--accent-color);
  border-left-color: var(--accent-color);
}

/* Submenu container */
  .skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0;
    padding: 0;
    background: var(--main-color);
    border-left: 3px solid transparent;
  }

/* Submenu container - expanded */
  .skin-blue .sidebar-menu>li>.menu-expanded {
    border-left-color: var(--main-color);
  }

/* Submenu container - Parent menu item selected */
  .skin-blue .sidebar-menu>li.active>.treeview-menu {
    border-left-color: var(--main-color);
  }

/* Subitems within submenu */
  .sidebar-menu .treeview-menu>li {
    margin-left: -3px;
    border-left: 3px solid transparent;
  }

/* Subitem links within submenu */
  .skin-blue .treeview-menu>li>a {
    color: #ffffff;
    text-decoration: none;
    padding: 10pt 0 10pt 20pt;
  }

/* Active subitem link within submenu */
  .sidebar-menu .treeview-menu>li.active {
    background: var(--accent-color);
    border-left-color: var(--accent-color);
  }

/* Subitem links within submenu - Hover over item */
  .sidebar-menu .treeview-menu>li:hover {
    background: var(--accent-color);
    border-left-color: var(--accent-color);
  }


/*----------------------------------------------*/
/* Shiny Dashboard Body - dashboardSidebar() */
/*----------------------------------------------*/
  
/* Content wrapper - includes both sidebar and content */
.skin-blue .wrapper {
  background-color: #ffffff;
  font-family: 'Avenir-Book', "Helvetica", sans-serif;
}

/* Content wrapper - includes only content */
.skin-blue div.content-wrapper{
  background: var(--main-color);
  height: auto;
}

/* Content (section) */
.skin-blue section.content{
  min-height: 100%;
  overflow: auto;
  margin: 0 -15px;
  padding: 0;
}

/* Tab content (div) */
.skin-blue div.tab-content{
  margin: 0;
  padding: 0;
}

#custom-title-container {
  position: absolute;
  left: 60px;
  text-align: center;
  line-height: 16pt;
  color: #ffffff;
}

.container-fluid {
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
}

/*-----------------*/
/* Leaflet legends */
/*-----------------*/
  
.leaflet .legend {
    min-width:150px; 
    text-align: center;
  }

.leaflet-bottom .leaflet-right .leaflet-control {
  text-align: center;
}

.info .legend .leaflet-control{
  clear: both;
  text-align: center;
  
}

.leaflet-right {
  right: 25px;
}

.leaflet-left {
  left: unset;
  right: 25px;
}

.leaflet-top {
  top: 5px;
}

.leaflet-bottom {
  bottom: 0;
}
/*-------------------*/  
/*-------------------*/
/* Custom containers */
/*-------------------*/
/*-------------------*/

/*--------------------------*/
/* Buttons */
/*--------------------------*/
  
/* Info button */
.info-button {
  color: #fff; 
  background-color: var(--accent-color); 
  border-width: 0; 
  width:25px; 
  height:25px; 
  font-size: 6pt;
  border-radius: 50%;
  text-align: center;
  line-height: 6pt;
  padding-right: 15px;
  margin: 0 5px 0 5px;
}

/* Info button */
.info-button i{
  margin: 0;
}

.info-button:hover {
  color: #fff; 
  background-color: var(--accent-color-2); 
}

/* Wide plain rounded button */
.rounded-button {
  color: #fff;
  background-color: var(--accent-color); 
  border-width: 0; 
  padding: 10px; 
  width: 100%; 
  font-size: 10pt; 
  border-radius: 5px;
}

/* Wide plain rounded button */
.rounded-button:hover {
  color: #fff;
  background-color: var(--accent-color-2); 
}

/* Wide plain rounded button - CAN NOT SELECT */
.rounded-button-no-select {
  color: var(--grey-light);
  background-color: var(--grey-dark); 
  border-width: 0; 
  padding: 10px; 
  width: 100%; 
  font-size: 10pt; 
  border-radius: 5px;
}

/* Wide plain rounded button */
.rounded-button-no-select:hover {
  color: var(--grey-light);
  background-color: var(--grey-dark); 
}

/* Wide plain rounded button */
.rounded-button-grey {
  color: var(--grey-dark);
  background-color: #fff; 
  border: 1px solid var(--grey-dark);
  padding: 5px; 
  width: 100%; 
  font-size: 10pt; 
  border-radius: 5px;
}

/* Wide plain rounded button */
.rounded-button-grey:hover {
  color: #fff;
  background-color: var(--accent-color-2); 
}

.btn {
}

.btn-default{
  padding: 10px; 
  width: 100%; 
  font-size: 10pt; 
  border-radius: 5px;
  color: var(--grey-dark);
  background-color: #fff; 
  border: 1px solid var(--grey-dark);
}

.btn-default:hover {
  color: #fff;
  background-color: var(--accent-color-2); 
}

/* ------------- */
/* General Items */
/* ------------- */

/* Page title container with grey background and blue underline */
#page-title-div-underline-blue {
  padding: 10px 25px 10px 25px;
  background-color: var(--grey-light);
  border-bottom: 4px solid var(--main-color);
  color: var(--main-color);
}

/* General section title container */
#section-title {
  padding: 15px 0px 5px 0px;
}

/* Section title container with grey underline */
#section-title-div-underline {
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid var(--grey-dark);
  color: var(--grey-dark);
}

/* General container with grey underline */
#div-underline {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px dashed var(--grey-dark);
}

/* General container with grey underline on top */
#div-topline {
  padding: 15px 0px 15px 0px;
  border-top: 1px dashed var(--grey-dark);
}

/* General spaced divider */
#spaced-div {
  padding: 15px 25px 7.5px 25px;
}

/* TB spaced divider */
#t-spaced-div {
  padding: 15px 0px 0px 0px;
}

/* TB spaced divider */
#tb-spaced-div {
  padding: 15px 0px 15px 0px;
}

/* LR spaced divider */
#lr-spaced-div {
  padding: 0px 25px 0px 25px;
}

/* --------------- */
/* Nav Panel */
/* --------------- */

#ab_subsidy_explorer {
  background-color:transparent;
  color: white;
  height: 60px;
}


#ab_subsidy_explorer:hover {
  background-color:transparent;
  color: var(--accent-color-2);
}

#al_global_subsidies {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

#al_country_fishery_stats {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

#al_compare_fishery_stats{
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

#al_global_fishing_footprint {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

/*--------------*/
/* Introduction */
/*--------------*/

/* Dividers */
.intro-div{
  position: relative;
  height: 100%;
  width: 100vw;
}

.intro-picture-div{
  display: block;
  height: 100%;
  width: 100vw;
}

.intro-picture-div img{
  object-fit: cover;
  width: auto;
  height: auto;
  max-height: 200vh;
}

/* Video overlay */
.intro-overlay-div{
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
  border-radius: 25px;
  color: black;
}

/* Table structure for top header */
#introduction-table {
  width: 100%;
  vertical-align: middle;
  table-layout: fixed;
}

#introduction-table-row{
  width: 100%;
  padding: 0;
}

#introduction-table-cell-l{
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid var(--grey-dark);
}

#introduction-table-cell-r{
  width: 50%;
  padding: 0px 25px 0px 25px;
}

/* Explore the results button */
#ab_introduction_to_explore_results{
  width: 100%;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  padding: 25px;
  border-radius: 0;
  text-align: center;
  white-space: normal;
}

#ab_introduction_to_explore_results:hover{
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
}

#ab_introduction_to_explore_results i{
  color: var(--accent-color-2);
}

#ab_introduction_to_explore_results:hover i{
  color: var(--accent-color);
}

/* More about fisheries subsidies button */
#ab_introduction_to_global_subsidies{
  width: 100%;
  background-color: transparent;
  border: transparent;
  padding: 25px;
  border-radius: 0;
  text-align: center;
  white-space: normal;
}

#ab_introduction_to_global_subsidies:hover{
  background-color: var(--accent-color-2);
  color: white;
}

#ab_introduction_to_global_subsidies i{
  color: var(--accent-color-2);
}

#ab_introduction_to_global_subsidies:hover i{
  color: var(--accent-color);
}

/* Learn about methods and process button */
#ab_introduction_to_methods_process{
  width: 100%;
  background-color: transparent;
  border: transparent;
  padding: 25px;
  border-radius: 0;
  text-align: center;
  white-space: normal;
}

#ab_introduction_to_methods_process:hover{
  background-color: var(--accent-color-2);
  color: white;
}

#ab_introduction_to_methods_process i{
  color: var(--accent-color-2);
}

#ab_introduction_to_methods_process:hover i{
  color: var(--accent-color);
}

/* ------------------------------ */
/* Explore Results */
/* ------------------------------ */
#explore-results-left-column{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 0 25px 0 25px;
}

#explore-results-real-left-column{
  color: var(--grey-dark);
  padding: 0 25px 40px 25px;
}

#explore-results-right-column{
  min-height: 90vh;
  color: var(--grey-dark);
  padding: 0 25px 0 25px;
}

#explore-results-table {
  vertical-align: middle;
  table-layout: fixed;
}

#explore-results-table-row{
  width: 100%;
}

#explore-results-table-cell-l1{
  width: 40px;
}

#explore-results-table-cell-l2{
  width: 80px;
}

#explore-results-table-cell-r{
  width: 300px;
}

/* ------------------------------ */
/* Edit Policies (Advanced Users) */
/* ------------------------------ */
#edit-policies-left-column{
  color: var(--grey-dark);
  padding: 15px 25px 15px 25px;
}

#edit-policies-right-column{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 15px 25px 15px 25px;
}

#edit-policies-real-right-column {
  color: var(--grey-dark);
  padding: 15px 25px 15px 25px;
}


/* Table attributes for Steps */
#edit-policies-table { 
  width: 100%;
  vertical-align: middle;
  table-layout: fixed;
} 

#edit-policies-table-row{
  width: 100%;
}

#edit-policies-table-cell-number{
  width: 50px;
}

#edit-policies-table-cell-c{
  width: 150px;
}

/* Gets rid of bottom margin on textInput widget */
.form-group{
  margin-bottom: 0;
}

/* Blue circular number container */
.step-number {
  color: #ffffff; 
  background-color: var(--accent-color); 
  width:35px; 
  height:35px; 
  line-height: 35px;
  text-align: center;
  font-size: 14pt; 
  font-weight: bold;
  border-radius: 50%;
}

/* TabBox for disciplines */
.nav-tabs-custom {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    border-radius: 3px;
}

.nav-tabs-custom #policy-tabs.nav-tabs{
  border-bottom-color: transparent;
}

.nav-tabs-custom #policy-tabs.nav-tabs{
  background: #ffffff;
  color: var(--grey-dark);
}

.nav-tabs-custom #policy-tabs.nav-tabs li {
  width: 33%;
  margin: 0;
}
      
.nav-tabs-custom #policy-tabs.nav-tabs li a{
  color: var(--grey-dark);
  padding: 15px 25px;
}
      
.nav-tabs-custom #policy-tabs.nav-tabs li:hover {
  color: var(--accent-color);
}
      
.nav-tabs-custom #policy-tabs.nav-tabs li.active:hover a{
  color: var(--accent-color);
}
      
.nav-tabs-custom #policy-tabs.nav-tabs li.active {
  border-bottom: 3px solid var(--accent-color);
  border-top: transparent;
}
      
.nav-tabs-custom #policy-tabs.nav-tabs li.active a {
  color: var(--accent-color);
  border-left-color: transparent;
  border-right-color: transparent;
}

hr.white-narrow{
  border-top-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.grey-narrow{
  border-top-color: var(--grey-dark);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------------------------------ */
/* Learn more about subsidies */
/* ------------------------------ */

/* TabBox for subsidy data */
.nav-tabs-custom{
  margin-bottom: 0;
}

.nav-tabs-custom #subsidy-data-tabs.nav-tabs{
  background-color: var(--grey-light);
  border-bottom: 4px solid var(--main-color);
}

.nav-tabs-custom #subsidy-data-tabs.nav-tabs li {
  width: 25%;
  margin: 0;
}
      
.nav-tabs-custom #subsidy-data-tabs.nav-tabs li a{
  color: var(--main-color);
  padding: 0 25px;
  text-align: center;
}
      
.nav-tabs-custom #subsidy-data-tabs.nav-tabs li:hover {
  color: var(--accent-color-2)
}
      
.nav-tabs-custom #subsidy-data-tabs.nav-tabs li.active:hover a{
  color: var(--accent-color);
}
      
.nav-tabs-custom #subsidy-data-tabs.nav-tabs li.active {
  border-bottom: 5px solid var(--accent-color);
  border-top: transparent;
  background: var(--grey-light);
}
      
.nav-tabs-custom #subsidy-data-tabs.nav-tabs li.active a {
  color: var(--accent-color);
  background: var(--grey-light);
  border-left-color: transparent;
  border-right-color: transparent;
}

/* ---------------- */
/* Global Subsidies */
/* ---------------- */

/* Hide selection panel */
#global_subsidies_map_hide_arrow_panel {
  background: rgba(255,255,255,0.9);
  padding: 0;
  left: 350px;
  top: 50px;
  width: 30px;
  height: 100px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Hide selection button */
#ab_global_subsidies_hide_panel {
  background: rgba(255,255,255,0.9);
  padding: 0;
  height: 100px;
  width: 30px;
  border-radius: 0 5px 5px 0;
  color: var(--accent-color);
  line-height: 100px;
  text-align: center;
}

#ab_global_subsidies_hide_panel:hover {
  background: var(--accent-color-2);
}

/* Show selection panel */
#global_subsidies_map_expand_arrow_panel {
  background: rgba(255,255,255,0.9);
  padding: 0;
  left: 0;
  top: 50px;
  width: 30px;
  height: 100px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Show selection panel button */
#ab_global_subsidies_expand_panel {
  background: rgba(255,255,255,0.9);
  padding: 0;
  height: 100px;
  width: 30px;
  border-radius: 0 5px 5px 0;
  color: var(--accent-color);
  line-height: 100px;
  text-align: center;
}

#ab_global_subsidies_expand_panel:hover {
  background: var(--accent-color-2);
}

/* Control panel */
#global_subsidies_map_control_panel {
  background: rgba(255,255,255,0.9);
  padding: 25px;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Table structure for top header */
#global-subsidies-control-table {
  width: 100%;
  vertical-align: middle;
  table-layout: fixed;
}

#global-subsidies-control-table-row{
  width: 100%;
  padding: 0;
}

#global-subsidies-control-table-cell-l{
  width: 70%;
  padding-right: 25px;
  justify-content: left;
  text-align: left;
}

#global-subsidies-control-table-cell-r{
  width: 30%;
  padding-left: 25px;
  justify-content: right;
  text-align: right;
}

#ab_global_subsidies_select_all_good, #ab_global_subsidies_select_all_bad, #ab_global_subsidies_select_all_ugly {
  background: transparent;
  color: var(--grey-dark);
}

#ab_global_subsidies_select_all_good:hover, #ab_global_subsidies_select_all_bad:hover, #ab_global_subsidies_select_all_ugly:hover {
  background: transparent;
  color: var(--accent-color-2);
}

/* Info panel */
#global_subsidies_map_info_panel {
  background: rgba(255,255,255,0.9);
  right: 70px;
  top: 15px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Table for buttons */
#global-subsidies-table { 
  vertical-align: middle;
  table-layout: fixed;
  text-align: center;
  margin: 0 10px 0 10px;
} 

#global-subsidies-table-row{
}

#global-subsidies-table-cell-1{
  padding-right: 10px;
}

#global-subsidies-table-cell-2{
  padding-right: 10px;
}

/* Hide disclaimer panel */
#global_subsidies_map_hide_arrow_disclaimer, #global_fishing_footprint_map_hide_arrow_disclaimer {
  background: rgba(255,255,255,0.9);
  padding: 0;
  left: 400px;
  bottom: 100px;
  width: 100px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Hide disclaimer button */
#ab_global_subsidies_hide_disclaimer, #ab_global_fishing_footprint_hide_disclaimer {
  background: rgba(255,255,255,0.9);
  padding: 0;
  height: 30px;
  width: 100px;
  border-radius: 5px 5px 0 0;
  color: var(--accent-color);
  line-height: 30px;
  text-align: center;
}

#ab_global_subsidies_hide_disclaimer:hover, #ab_global_fishing_footprint_hide_disclaimer:hover {
  background: var(--accent-color-2);
}

/* Show disclaimer panel */
#global_subsidies_map_expand_arrow_disclaimer, #global_fishing_footprint_map_expand_arrow_disclaimer {
  background: rgba(255,255,255,0.9);
  padding: 0;
  left: 400px;
  bottom: 0;
  width: 100px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 20;
}

/* Show disclaimer button */
#ab_global_subsidies_expand_disclaimer, #ab_global_fishing_footprint_expand_disclaimer {
  background: rgba(255,255,255,0.9);
  padding: 0;
  height: 30px;
  width: 100px;
  border-radius: 5px 5px 0 0;
  color: var(--accent-color);
  line-height: 30px;
  text-align: center;
}

#ab_global_subsidies_expand_disclaimer:hover, #ab_global_fishing_footprint_expand_disclaimer:hover {
  background: var(--accent-color-2);
}

/* Map disclaimer panel */
#global_subsidies_map_disclaimer_panel, #global_fishing_footprint_map_disclaimer_panel {
  background: rgba(255,255,255,0.9);
  padding: 10px;
  left: 100px;
  right: 275px;
  bottom: 0;
  height: 100px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 15;
}

/* ------------------------------ */
/* Fishery stats by state */
/* ------------------------------ */

#country-fishery-stats-left-column{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 0 25px 0 25px;
}

#country-fishery-stats-real-left-column{
  color: var(--grey-dark);
  padding: 0 25px 0 25px;
}

#country-fishery-stats-right-column{
  min-height: 90vh;
  color: var(--grey-dark);
  padding: 0 25px 0 25px;
}

/* Table for buttons */
#country-fishery-stats-table { 
  vertical-align: middle;
  table-layout: fixed;
  justify-content: right;
  margin: 0 10px 0 10px;
} 

#country-fishery-stats-table-row{
  width: 100%;
}

#country-fishery-stats-table-cell-1a{
  width: 80%;
}

#country-fishery-stats-table-cell-1b{
  width: 90%;
}

#country-fishery-stats-table-cell-2{
  text-align: center;
  padding-right: 10px;
  justify-content: right;
}

#country-fishery-stats-table-cell-3{
  text-align: center;
  justify-content: right;
}

/* TabBox for different types of country-level data */

.nav-tabs-custom #country-tabs.nav-tabs{
  border-bottom: 1px solid var(--grey-dark);
}

.nav-tabs-custom #country-tabs.nav-tabs{
  background: #fff;
  color: var(--grey-dark);
}

.nav-tabs-custom #country-tabs.nav-tabs li {
  margin: 0;
}
      
.nav-tabs-custom #country-tabs.nav-tabs li a{
  color: var(--grey-dark);
  padding: 15px 25px;
}
      
.nav-tabs-custom #country-tabs.nav-tabs li:hover {
  color: var(--accent-color-2)
}
      
.nav-tabs-custom #country-tabs.nav-tabs li.active:hover a{
  color: var(--accent-color);
}
      
.nav-tabs-custom #country-tabs.nav-tabs li.active {
  border-bottom: 3px solid var(--accent-color);
  border-top: transparent;
}
      
.nav-tabs-custom #country-tabs.nav-tabs li.active a {
  color: var(--accent-color);
  border-left-color: transparent;
  border-right-color: transparent;
}

/* ------------------------------ */
/* Compare fishery stats */
/* ------------------------------ */

#compare-fishery-stats-table {
  vertical-align: middle;
  table-layout: fixed;
}

#compare-fishery-stats-table-table-row{
  width: 100%;
}

#compare-fishery-stats-table-cell-1{
  width: 80%;
}

#compare-fishery-stats-table-cell-2{
  text-align: center;
  padding-right: 10px;
  justify-content: right;
}

#compare-fishery-stats-table-cell-3{
  text-align: center;
}

/* ------------------------------ */
/* Global fishing footprint */
/* ------------------------------ */

#global_fishing_footprint_map_info_panel {
  background: rgba(255,255,255,0.9);
  right: 70px;
  top: 15px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000 !important;
}

#db_global_fishing_footprint_download_figure {
  width: 150px;
}

/* ------------------------------ */
/* Methods and Process */
/* ------------------------------ */

#db_download_methods{
  color: #fff;
  background-color: var(--accent-color); 
  border-width: 0; 
  padding: 10px; 
  width: 40%; 
  font-size: 10pt; 
}

#db_download_methods:hover{
  background-color: var(--accent-color-2);
}

#methods-process-table {
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

#methods-process-table-row{
  width: 100%;
}

#methods-process-table-cell-1{
  width: 33%;
}

#methods-process-table-cell-2{
  width: 33%;
}

#methods-process-table-cell-3{
  width: 33%;
}